* {
  border: none;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #191919;
}
.nav {
  padding: 1.6rem 10rem;
}

.nav .nav__logo {
  width: 5%;
}
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container,
.contact-us-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 20%;
}

p,
.link {
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-size: 18px;
}

.header {
  font-weight: 900;
  font-size: 28px;
  margin: 20px 0 40px;
}

.description {
  margin-bottom: 20px;
}

.contacts {
  text-align: center;
  margin-bottom: 40px;
}
.contacts p,
.link,
.address {
  font-size: 16px;
}

.link {
  text-decoration: none;
}

.bold {
  font-weight: 700;
}

.lg-text {
  font-size: 21px;
  margin-bottom: 15px;
}
